<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="BT Gadget"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTGadget"
        tools:targetApi="31">
        <activity
            android:name=".loginpage"
            android:exported="false" />
        <activity
            android:name=".opporeno10"
            android:exported="false" />
        <activity
            android:name=".samsung23"
            android:exported="false" />
        <activity
            android:name=".xiaomi13t"
            android:exported="false" />
        <activity
            android:name=".pocof5"
            android:exported="false" />
        <activity
            android:name=".samsungzfold"
            android:exported="false" />
        <activity
            android:name=".pixel8pro"
            android:exported="false" />
        <activity
            android:name=".asusrog7"
            android:exported="false" />
        <activity
            android:name=".iphone14pm"
            android:exported="false" />
        <activity
            android:name=".Iphone15pm"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
    </application>

</manifest>